:root {
    --form-width: 400px;
    font-family: 'Arial', sans-serif;
    color: var(--text-color);
    --text-color: #fbfbfe;
    --background-color: hsla(240, 71%, 19%, 1);
    --primary-color: #fbfbfe;
    --secondary-color: #fbfbfe;
    --accent-color: #fbfbfe;
}

body {
    min-height: 100vh;
    display: flex;
    background-color: var(--primary-color);
}

body>header {
    box-sizing: border-box;
    background-color: var(--primary-color);
    position: relative;
    width: 650px;
    display: flex;
    align-items: center;
    background-clip: padding-box;
    border: solid 15px transparent;
}

body>header:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    margin: -10px;
    background-color: hsla(240, 71%, 19%, 0.5);
    background-image:
        radial-gradient(at 40% 1%, rgb(22, 84, 159) 0px, transparent 50%),
        radial-gradient(at 96% 69%, rgb(6, 57, 209) 0px, transparent 50%),
        radial-gradient(at 20% 25%, rgb(129, 50, 182) 0px, transparent 50%),
        radial-gradient(at 3% 98%, rgb(118, 29, 159) 0px, transparent 50%),
        radial-gradient(at 2% 98%, rgb(11, 84, 148) 0px, transparent 50%),
        radial-gradient(at 36% 66%, rgb(79, 63, 221) 0px, transparent 50%),
        radial-gradient(at 68% 76%, rgb(31, 168, 161) 0px, transparent 50%);
    border-radius: 0.3rem;
}

body>header div {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    margin-bottom: 7vh;
}


body>header div>h1 {
    position: absolute;
    left: 100px;
    top: 35px;
    background-color: hsla(240, 71%, 19%, 0.5);
    background-image:
        radial-gradient(at 40% 1%, rgb(22, 84, 159) 0px, transparent 50%),
        radial-gradient(at 96% 69%, rgb(6, 57, 209) 0px, transparent 50%),
        radial-gradient(at 20% 25%, rgb(129, 50, 182) 0px, transparent 50%),
        radial-gradient(at 3% 98%, rgb(118, 29, 159) 0px, transparent 50%),
        radial-gradient(at 2% 98%, rgb(11, 84, 148) 0px, transparent 50%),
        radial-gradient(at 36% 66%, rgb(79, 63, 221) 0px, transparent 50%),
        radial-gradient(at 68% 76%, rgb(31, 168, 161) 0px, transparent 50%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 3rem;
    margin-bottom: 3rem;
}

body>header>div>img {
    width: 500px;
    height: 500px;
    filter: saturate(80%);
}

main {
    background-color: var(--background-color);
    background-image:
        radial-gradient(at 40% 1%, hsla(212, 75%, 15%, 1) 0px, transparent 50%),
        radial-gradient(at 96% 69%, hsla(225, 97%, 21%, 1) 0px, transparent 50%),
        radial-gradient(at 20% 25%, rgb(93, 37, 131) 0px, transparent 50%),
        radial-gradient(at 3% 98%, rgb(67, 17, 90) 0px, transparent 50%),
        radial-gradient(at 2% 98%, hsla(208, 87%, 17%, 1) 0px, transparent 50%),
        radial-gradient(at 36% 66%, hsla(246, 54%, 31%, 1) 0px, transparent 50%),
        radial-gradient(at 68% 76%, hsla(177, 69%, 30%, 1) 0px, transparent 50%);
    flex: 1;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 0rem 1rem 1rem 1rem;
}

main>header {
    width: var(--form-width);
    margin-bottom: 1rem;
}

form {
    width: var(--form-width);
    margin-bottom: max(calc(10vh - 2rem), 3rem);
}

form>fieldset {
    border-radius: 1rem;
    display: flex;
    flex-flow: column;
    gap: 2rem;
    position: relative;
    border: 0;
    border: 1px solid black;
    padding: 2rem;
}

fieldset>legend {
    position: absolute;
    visibility: hidden;
    width: 0;
    height: 0;
}

fieldset>div {
    display: flex;
    flex-flow: column;
    gap: 0.5rem;
}

label+input {
    appearance: none;
    border: 1px solid black;
    border-radius: 0.3rem;
    padding: 0.5rem;
}

main>footer {
    width: var(--form-width);
}

main>footer>button {
    margin-bottom: 0.2rem;
    background-color: transparent;
    border: 0;
    border-radius: 0.3rem;
    cursor: pointer;
    box-shadow: 0px 0px 0px 2px var(--primary-color);
    font-weight: bold;
    color: var(--text-color);
    width: 100%;
}

main>footer>button>p {
    padding: 1rem 2rem;
    margin: 0;
}

main>footer>button:hover {
    background-color: white;
}

main>footer>button>p:hover {
    background-color: hsla(240, 71%, 19%, 0.5);
    background-image:
        radial-gradient(at 40% 1%, rgb(22, 84, 159) 0px, transparent 50%),
        radial-gradient(at 96% 69%, rgb(6, 57, 209) 0px, transparent 50%),
        radial-gradient(at 20% 25%, rgb(129, 50, 182) 0px, transparent 50%),
        radial-gradient(at 3% 98%, rgb(118, 29, 159) 0px, transparent 50%),
        radial-gradient(at 2% 98%, rgb(11, 84, 148) 0px, transparent 50%),
        radial-gradient(at 36% 66%, rgb(79, 63, 221) 0px, transparent 50%),
        radial-gradient(at 68% 76%, rgb(31, 168, 161) 0px, transparent 50%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

main>footer a {
    font-weight: bolder;
    text-decoration: none;
    color: var(--accent-color);
}