:root {
    --form-width: 400px;
    font-family: 'Arial', sans-serif;
    color: var(--text-color);
    --text-color: #fbfbfe;
    --background-color: hsla(240, 71%, 19%, 1);
    --primary-color: #fbfbfe;
    --secondary-color: #fbfbfe;
    --accent-color: #fbfbfe;
}

body {
    min-height: 100vh;
    display: flex;
    background-color: var(--primary-color);
}

main {
    background-color: var(--background-color);
    background-image:
        radial-gradient(at 40% 1%, hsla(212, 75%, 15%, 1) 0px, transparent 50%),
        radial-gradient(at 96% 69%, hsla(225, 97%, 21%, 1) 0px, transparent 50%),
        radial-gradient(at 20% 25%, rgb(93, 37, 131) 0px, transparent 50%),
        radial-gradient(at 3% 98%, rgb(67, 17, 90) 0px, transparent 50%),
        radial-gradient(at 2% 98%, hsla(208, 87%, 17%, 1) 0px, transparent 50%),
        radial-gradient(at 36% 66%, hsla(246, 54%, 31%, 1) 0px, transparent 50%),
        radial-gradient(at 68% 76%, hsla(177, 69%, 30%, 1) 0px, transparent 50%);
    flex: 1;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 0rem 1rem 1rem 1rem;
}

main>header {
    width: var(--form-width);
    margin-bottom: 1rem;
}

form {
    width: var(--form-width);
    margin-bottom: 2rem;
    background: transparent;
}

form>fieldset {
    border-radius: 0.3rem;
    display: flex;
    flex-flow: column;
    gap: 2rem;
    position: relative;
    border: 0;
    padding: 2rem;
    box-shadow: 0px 0px 0px 2px var(--primary-color);
}

fieldset>legend {
    position: absolute;
    visibility: hidden;
    width: 0;
    height: 0;
}

fieldset>div {
    display: flex;
    flex-flow: column;
    gap: 0.5rem;
    font-weight: bold;
}

fieldset>div>label {
    visibility: hidden;
    position: absolute;
    height: 0;
    width: 0;
}

.input-field {
    display: flex;
    padding: 0.5rem;
    border-radius: 0.2rem;
    border-bottom: 2px solid var(--primary-color)
}

.input-field svg {
    fill: var(--primary-color);
    height: 30px;
    width: 30px;
}

.input-field>input {
    appearance: none;
    background-color: transparent;
    border: 0;
    color: var(--primary-color);
    margin-left: 10px;
    height: 30px;
    width: 100%;
}

.input-field>input:focus {
    outline: 0;
}

.input-field>input::placeholder {
    color: rgba(255, 255, 255, 0.7)
}

/* Disables autofill background color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition-delay: 9999s;
    transition-delay: 9999s;
}

main>footer {
    width: var(--form-width);
}

main>footer>button {
    margin-bottom: 0.2rem;
    background-color: transparent;
    border: 0;
    border-radius: 0.3rem;
    cursor: pointer;
    box-shadow: 0px 0px 0px 2px var(--primary-color);
    font-weight: bold;
    color: var(--text-color);
    width: 100%;
}

main>footer>button>p {
    padding: 1rem 2rem;
    margin: 0;
}

main>footer>button:hover {
    background-color: white;
}

main>footer>button>p:hover {
    background-color: hsla(240, 71%, 19%, 0.5);
    background-image:
        radial-gradient(at 40% 1%, rgb(22, 84, 159) 0px, transparent 50%),
        radial-gradient(at 96% 69%, rgb(6, 57, 209) 0px, transparent 50%),
        radial-gradient(at 20% 25%, rgb(129, 50, 182) 0px, transparent 50%),
        radial-gradient(at 3% 98%, rgb(118, 29, 159) 0px, transparent 50%),
        radial-gradient(at 2% 98%, rgb(11, 84, 148) 0px, transparent 50%),
        radial-gradient(at 36% 66%, rgb(79, 63, 221) 0px, transparent 50%),
        radial-gradient(at 68% 76%, rgb(31, 168, 161) 0px, transparent 50%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

main>footer a {
    font-weight: bolder;
    text-decoration: none;
    color: var(--accent-color);
}