:root {
    --form-width: 400px;
    font-family: 'Arial', sans-serif;
    --background-color: #fbfbfe;
    --primary-color: #3c1f6d;
    --secondary-color: #fbfbfe;
    color: var(--secondary-color);
}

.main-container {
    display: flex;
    box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.3);
}

body {
    min-height: 100vh;
    display: flex;
    background-color: var(--background-color);
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-flow: column;
}

.main-container>.form-hero {
    width: 300px;
    background-image: url(hero.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    border: 5px solid var(--secondary-color);
    border-radius: 0.5rem 0 0 0.5rem;
}

.main-container>.form-hero>svg {
    width: 200px;
    fill: var(--primary-color);
}

.main-container>.form-container {
    background-color: var(--primary-color);
    border-right: 5px;
    border-top: 5px;
    border-bottom: 5px;
    border-color: var(--secondary-color);
    border-style: solid;
    padding: 2rem 3rem 2rem 3rem;
    border-radius: 0 0.5rem 0.5rem 0;
}


.main-container>div>header {
    width: var(--form-width);
    font-size: 0.8rem;
    margin-bottom: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--form-width);
}

form>fieldset {
    display: flex;
    flex-flow: column;
    gap: 2rem;
    border: 0;
    width: 100%;
    margin-bottom: 2rem;
}

fieldset>legend {
    position: absolute;
    visibility: hidden;
    width: 0;
    height: 0;
}

fieldset>div>label {
    visibility: hidden;
    position: absolute;
    height: 0;
    width: 0;
}

.input-field {
    display: flex;
    padding: 0.5rem;
    border-bottom: 2px solid var(--secondary-color);
}


.input-field svg {
    fill: var(--secondary-color);
    height: 30px;
    width: 30px;
}

.input-field>input {
    appearance: none;
    background-color: transparent;
    border: 0;
    color: var(--secondary-color);
    margin-left: 10px;
    height: 30px;
    width: 100%;
}

.input-field>input:focus {
    outline: 0;
}

.input-field>input::placeholder {
    color: rgba(255, 255, 255, 0.7)
}

/* Disables autofill background color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition-delay: 9999s;
    transition-delay: 9999s;
}

footer {
    width: var(--form-width);
}

footer>button {
    margin-bottom: 0.2rem;
    background-color: transparent;
    border: 0;
    border-radius: 0.3rem;
    cursor: pointer;
    box-shadow: 0px 0px 0px 2px var(--secondary-color);
    font-weight: bold;
    color: var(--secondary-color);
    width: 100%;
    padding: 1rem 2rem;
}

footer>button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

footer a {
    font-weight: bolder;
    text-decoration: none;
    color: var(--secondary-color);
}